{% set osmversion = salt['grains.get']('osmajorrelease', salt['grains.get']('osrelease_info')) %}
{% if osmversion is iterable and osmversion is not string %}
{% set osmversion = osmversion[0] %}
{% endif %}

{% set map = {
    'CentOS': {
      'filename': "CentOS-%s" % osmversion,
      'release': osmversion,
      'emacs-base': '/usr/share/emacs/site-lisp',
      'site-start': '/usr/share/emacs/site-lisp/site-start.d',
    },
    'Fedora': {
      'filename': "Fedora",
      'release': osmversion,
      'emacs-base': '/usr/share/emacs/site-lisp',
      'site-start': '/usr/share/emacs/site-lisp/site-start.d',
      },
    'RedHat': {
      'filename': "Fedora",
      'release': osmversion,
      'emacs-base': '/usr/share/emacs/site-lisp',
      'site-start': '/usr/share/emacs/site-lisp/site-start.d',
      },
    'Debian': {
      'filename': "Fedora",
      'release': osmversion,
      'emacs-base': '/usr/share/emacs24/site-lisp',
      'site-start': '/etc/emacs/site-start.d',
    },
} %}

{% set settings = map.get(grains.os_family) %}
